In [12]:
columns = {'beg_time':'s','end_time':'e','symbol':'T','volume':'v','acc_vol':'av','off_open_price':'op','vwap':'vw','open_price':'o','high_price':'h','low_price':'l','close_price':'c','avg_price':'a'}
col_keys = ','.join(list(columns.keys()))
cols = list(columns.keys())
# vals = ','.join([am_bar[col] for col in list(columns.values())])
insert_query = f"""INSET INTO unfiltered({col_keys}) VALUES ({vals})"""

table = f"""CREATE TABLE unfiltered_new (
    {cols[0]} bigint NOT NULL,
    {cols[1]} bigint NOT NULL,
    {cols[2]} text NOT NULL,
    {cols[3]} numeric NOT NULL,
    {cols[4]} numeric NOT NULL,
    {cols[5]} money NOT NULL,
    {cols[6]} numeric NOT NULL,
    {cols[7]} money NOT NULL,
    {cols[8]} money NOT NULL,
    {cols[9]} money NOT NULL,
    {cols[10]} money NOT NULL,
    {cols[11]} money NOT NULL);"""

print(table)
print(insert_query)

CREATE TABLE unfiltered (
    beg_time bigint NOT NULL,
    end_time bigint NOT NULL,
    symbol char NOT NULL,
    volume numeric NOT NULL,
    acc_vol numeric NOT NULL,
    off_open_price money NOT NULL,
    vwap numeric NOT NULL,
    open_price money NOT NULL,
    high_price money NOT NULL,
    low_price money NOT NULL,
    close_price money NOT NULL,
    avg_price money NOT NULL);
INSET INTO unfiltered(beg_time,end_time,symbol,volume,acc_vol,off_open_price,vwap,open_price,high_price,low_price,close_price,avg_price) VALUES (s,e,T,v,av,op,vw,o,h,l,c,a)